<div id="div1" style="background-color: #000000 ">
  <a href="http://www.lanrentuku.com" target="_blank">不易肥胖</a>
  <a href="http://www.lanrentuku.com" target="_blank">抗衰老能力强于普通人</a>
  <a href="http://www.lanrentuku.com" target="_blank">乐观积极</a>
</div>
<div class="home_background">
  <%= image_tag 'home/index.jpg', style: 'width: 100%; border-radius: 5px; margin-bottom: 30px;' %>
  <%= image_tag 'home/index2.jpg', style: 'width: 100%; border-radius: 5px; margin-bottom: 30px;' %>
  <%= image_tag 'home/index3.jpg', style: 'width: 100%; border-radius: 5px; margin-bottom: 30px;' %>
</div>
